@import "tailwindcss";

@theme {
  --color-isl-bg: #FFF9F2;
  --color-isl-card: #FEF0E1;
  --color-isl-primary: #E9692C;
  --color-isl-secondary: #FBD894;
  --color-isl-text-primary: #4B4B4B;
  --color-isl-text-secondary: #777777;
  --radius-3xl: 1.5rem;
  --radius-xl: 0.75rem;
}

:root {
  --app-bg: #F8FAFC;
  /* Slate-50 (Light Mode) */
  --app-text: #0F172A;
  /* Slate-900 */
  color-scheme: light;
}

:root.dark {
  --app-bg: #0F172A;
  /* Slate-900 (Dark Mode) */
  --app-text: #FFFFFF;
  color-scheme: dark;
}

body {
  background-color: var(--app-bg);
  color: var(--app-text);
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
  transition: background-color 0.5s ease, color 0.5s ease;
  /* Smooth toggle transition */
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}